*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,  body{
  height: 100%;
  width: 100%;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgba(236, 236, 236, 0.95);
  height: 7vh;
  position:-webkit-sticky;
}
.y{
  display: flex;
  height: 201px;
  width: 1500px;
  background-color:rgb(185, 180, 180);;
  overflow: auto;
  position:sticky;
}
.logo{
  height:fit-content;
  cursor: pointer;
  
}
.logo j{
  background-color: rgb(196, 76, 76);
}

.logo li{
  float:right;
  list-style: none;
  padding-top: 27px;
  margin: 13px 60px;
  font-size: 100px;
  font-weight:lighter;
  
}
.logo a{
  text-decoration: none;
  color: black;
  transition: all 0.3s ease 0s;
}
img{
  float:left;
  height: 7vh;
  width: 9vh;
  padding-left: 1vh;
  
}
.logo a:hover{
  color: aquamarine;

}

.j ul{
  list-style: none;
  background-color: rgb(163, 160, 160);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
ul li{  
  display: inline-block;
  position: relative;
}
ul li a{
  display: block;
  padding: 20px 25px;
  text-align: center;
  text-decoration: none;
  color:black;
  font-size: 70px;


}
ul li ul.d1 li{
  display: block;
}
ul li ul.d1{
  width:100%;
  position: absolute;
  display: none;
}
ul li a:hover{
  background-color: grey;

}
ul li:hover ul.d1{
  display:block;
}
.myperro{
  display: flex;
  justify-content: center;
  background-color:rgb(255, 243, 227);
  text-align: center;
  padding: 300px ;
  font-weight: bolder;
  font-size: 45px;
  height: 40%;
  margin-bottom: -100px;
  
}

#cards-container {
  margin-top: -650px;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  z-index: 10;
}
.card {
  height: 50%;
  width: 24%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: all ease 0.6s;
}
#card1 {
  background-image: url("3.png" );
  length:100px;
  
}
#card2{
  background-image: url("4.png") ;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: #95c11e;
  padding: 30px;
  padding-top: 160px;
  opacity: 0;
  transition: all ease 0.6s;
}
.overlay h4 {
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 20px;
  font-weight: 800;
}
.overlay p {
  color: #000;
  font-size: 25px;
}
.card:hover .overlay {
  opacity: 1;
}
.card:hover {
  transform: rotate3d(-1, 1, 0, 20deg);
}
.gh{
  display:flex;
  justify-content: center;
  height:70%;
}
.gh img{
  height:90%;
  width: 70%;
  border:none;
}
.k{
  display:flex;
  justify-content: center;
  height:70%;
  border: none;
}
.k img{
  height:90%;
  width: 70%;
  border:none;
}
.btn{
  border: none;
  outline: none;
  cursor: pointer;
  border-radius:40%;

}
.btn:hover{
  background: rgb(107, 107, 109);
}
h1{
  text-align: left;
  font-weight: bolder;
  font-size: 8vh;
  padding-left: 25vh;
}

.e{
  display: flex;
  justify-content:space-between;
  
 
 
}
.e img{
  height: 60vh;
  width: 70vh;
  padding-right: 9vh;
  padding-left: 15vh;
}

.slider-container {
float:inline-end;
  position: relative;
  width: 80%;
  margin: auto;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}
.slide img{
  height: 55vh;
  width: 80vh;
}

.prev-btn, .next-btn {
  position: absolute;
  font-size: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  height: 8vh;
  width: 10vh;
}

.prev-btn {
  left: 1vh;

  
}

.next-btn {
  background-color: red;
  left:75vh;
  
}

footer{
  background-color: black;
  height: 50vh;
  font-size: 5vh;

}